@charset "utf-8";

*{box-sizing:border-box;padding:0;margin:0}
html,body{min-width:1200px;}
body{font-family:"맑은 고딕";font-size:16px;
	background:#ffffff;color:#222328;}
a{display:block;text-decoration:none;color:#222328;}
ul{list-style:none;}
.clear:after{clear:both;display:block;content:"";}

#wrap{width:1200px;height:700px;margin:0 auto;
	position:relative;}

header{width:1200px;height:100px;}
.logo{width:300px;height:50px;float:left;margin-top:25px;}

nav{float:right;margin-top:25px;margin-right:20px;position:relative;}
.menu{}
.menu li{width:160px;height:40px;line-height:40px;text-align:center;
	float:left;}
.menu li a{width:100%;height:100%;font-size:18px;
	font-weight:700;background:#ea68a2;color:#555;}
.menu li a:hover{background:#555;color:#fff;}

.submenu{position:absolute;left:0;top:40px;display:none;
	background:rgba(0,0,0,0.5);z-index:99;}
.sub{float:left;}
.sub li{width:160px;height:36px;line-height:36px;text-align:center;}
.sub li a{width:100%;height:100%;color:#ddd;font-weight:600;}
.sub li a:hover{background:#00b7ee;color:#fff;}

#slide{width:1200px;height:300px;overflow:hidden;}
.slider{position:relative;}
.s_img{width:1200px;height:300px;position:relative;}
.s_img p{width:300px;height:50px;position:absolute;
	left:450px;top:125px;text-align:center;line-height:50px;
		font-family:"나눔 고딕";font-size:24px;font-weight:700;
		color:#fff;text-shadow:3px 3px 3px #000;
		}
.s_img img{width:1200px;height:300px;}

#contents{width:1200px;height:200px;}
#contents>div{float:left;margin-top:10px;}
.tabmenu{width:400px;height:180px;position:relative;}
.tab_btn h3{width:100px;height:30px;line-height:30px;text-align:center;
	border:1px solid #ddd;background:#eee;float:left;
	border-bottom:none;}
.tab_btn h3:first-child{border-right:none;}
.tab_btn h3.on{background:#fff;}

.tabmenu ul{width:400px;height:150px;padding:5px;
	border:1px solid #ddd;}
.cont1,.cont2{height:180px;position:absolute;left:0;top:30px;}
.cont1 li:nth-child(2n){background:#eee;}
.cont1 li a{padding:6px;}
.cont1 li span{float:right;}
.cont1 li a:hover{background:#555;color:#eee;}

.cont2{display:none;}
.cont2 li{float:left;margin:7px 0 0 20px;}
.cont2 img{width:100px; height:120px;}


.cont3,.cont4{width:390px;height:180px;margin-left:10px;position:relative;}
.cont3 h3,.cont4 h3{width:160px;height:40px;font-size:20px;background:rgba(0,0,0,0.3);
	text-align:center;line-height:40px;
	position:absolute;left:110px;top:70px;
	text-shadow:2px 2px 2px #000;color:#fff;}
.cont3 img,.cont4 img{width:390px;height:180px;}

#popup{width:500px;height:400px;position:absolute;
	left:350px;top:150px;z-index:999;display:none;
	background:#fff;padding:20px;}
#popup p{line-height:30px;padding:20px;}
.close{position:absolute;
	bottom:20px;right:20px;padding:3px;}	

footer{width:1200px;height:100px;background:#eee;}
footer>div{float:left;}
.ft_logo{width:200px;height:100px;padding:30px 10px;}
.copy{width:800px;text-align:center;line-height:90px;}
.sns{width:200px;}
.sns a{display:inline-block;margin:20px 0 0 5px;}
